RAPIDAPI_KEY="RapidAPI_Key_Goes_Here"

SNOWFLAKE_USER="Snowflake_User_Goes_Here"
SNOWFLAKE_PASSWORD="Snowflake_Password_Goes_Here"
SNOWFLAKE_ACCOUNT="Snowflake_Account_Goes_Here"
SNOWFLAKE_WAREHOUSE="Snowflake_Warehouse_Goes_Here"
SNOWFLAKE_DATABASE="Snowflake_Database_Goes_Here"
SNOWFLAKE_SCHEMA="Snowflake_Schema_Goes_Here"