RAPIDAPI_KEY="ENTER_RAPID_API_KEY_HERE"

SNOWFLAKE_USER="ENTER_SNOWFLAKE_USER_HERE"
SNOWFLAKE_PASSWORD="ENTER_SNOWFLAKE_PASSWORD_HERE"
SNOWFLAKE_ACCOUNT="ENTER_SNOWFLAKE_ACCOUNT_HERE"
SNOWFLAKE_WAREHOUSE="ENTER_SNOWFLAKE_WAREHOUSE_HERE"
SNOWFLAKE_DATABASE="ENTER_SNOWFLAKE_DATABASE_HERE"
SNOWFLAKE_SCHEMA="ENTER_SNOWFLAKE_SCHEMA_HERE"
